# Iteration 1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import matplotlib.pyplot as plt
import math 
from pandas.core import shared_docs
import scipy.stats

# visualization
import seaborn as sns

# similarity
from sklearn.metrics.pairwise import cosine_similarity
from scipy.stats import pearsonr, kendalltau

In [ ]:
def alpha_score(userARec, userBRec, userCRec, GroupRec):
  #Calculating the satisfaction score for every user
  satUserA = np.sum(GroupRec)/np.sum(userARec)
  satUserB = np.sum(GroupRec)/np.sum(userBRec)
  satUserC = np.sum(GroupRec)/np.sum(userCRec)
  satUsersList = [satUserA, satUserB, satUserC]

  #Calculating the Group Satisfaction Score
  group_sat = np.mean(satUsersList)

  #Kendall Tau between the users so as to find out the disagreement among the users  
  ktAB, p_valAB = kendalltau(userARec, userBRec)
  ktBC, p_valBC = kendalltau(userBRec, userCRec)
  ktAC, p_valAC = kendalltau(userARec, userCRec)

  #Kendall Tau between users and group as done in assignment 2
  tauAAVG_userA, p_valueA_userA = kendalltau(userARec, GroupRec)
  tauAAVG_userB, p_valueA_userB = kendalltau(userBRec, GroupRec)
  tauAAVG_userC, p_valueA_userC = kendalltau(userCRec, GroupRec)

  #Calculating the means for two scenarios ;- among users, between user individual list and generated movie list
  ktOnlyUsers = np.mean([ktAB, ktBC, ktAC])
  ktOverall = np.mean([tauAAVG_userA, tauAAVG_userB, tauAAVG_userC])

  #Group disagreement
  #Difference of the result of two scenarios
  alpha = abs(ktOnlyUsers - ktOverall)

  return satUserA, satUserB, satUserC, alpha, group_sat

In [ ]:
import numpy as np
rating = pd.read_csv("/content/drive/MyDrive/DATA.ML.360/ratings.csv")
movies = pd.read_csv("/content/drive/MyDrive/DATA.ML.360/movies.csv")
df_assignment_3 = pd.merge(rating, movies, on='movieId', how='inner')
chunks = np.array_split(df_assignment_3, 2)
df_big_chunk = chunks[0]

In [ ]:
matrix_item_assignment_3 = df_big_chunk.pivot_table(index='title', columns='userId', values='rating')
matrix_item_norm_assignment_3 = matrix_item_assignment_3.subtract(matrix_item_assignment_3.mean(axis=1), axis = 0)
df_item_similarity_cosine_asign_3 = pd.DataFrame(cosine_similarity(matrix_item_norm_assignment_3.fillna(0.0000001)))
item_similarity_pearson_assignment_3 = matrix_item_norm_assignment_3.T.corr()
df_item_similarity_cosine_asign_3.columns = item_similarity_pearson_assignment_3.columns
df_item_similarity_cosine_asign_3.index = item_similarity_pearson_assignment_3.index

In [ ]:
# Item-based recommendation function
def item_based_rec_assignment_3(picked_userid, number_of_similar_items, number_of_recommendations):
  import operator
  # Movies that the target user has not watched
  picked_userid_unwatched = pd.DataFrame(matrix_item_norm_assignment_3[picked_userid].isna()).reset_index()
  picked_userid_unwatched = picked_userid_unwatched[picked_userid_unwatched[picked_userid]==True]['title'].values.tolist()

  # Movies that the target user has watched
  picked_userid_watched = pd.DataFrame(matrix_item_norm_assignment_3[picked_userid].dropna(axis=0, how='all')\
                            .sort_values(ascending=False))\
                            .reset_index()\
                            .rename(columns={picked_userid:'rating'})
  
  # Dictionary to save the unwatched movie and predicted rating pair
  rating_prediction ={}  

  # Loop through unwatched movies          
  for picked_movie in picked_userid_unwatched: 
    # Calculate the similarity score of the picked movie iwth other movies
    # picked_movie_similarity_score = item_similarity_pearson[[picked_movie]].reset_index().rename(columns={picked_movie:'similarity_score'})
    picked_movie_similarity_score = df_item_similarity_cosine_asign_3[[picked_movie]].reset_index().rename(columns={picked_movie:'similarity_score'})

    # Rank the similarities between the picked user watched movie and the picked unwatched movie.
    picked_userid_watched_similarity = pd.merge(left=picked_userid_watched, 
                                                right=picked_movie_similarity_score, 
                                                on='title', 
                                                how='inner')\
                                        .sort_values('similarity_score', ascending=False)[:number_of_similar_items]

    # Calculate the predicted rating using weighted average of similarity scores and the ratings from user 1
    # predicted_rating = round(np.average(picked_userid_watched_similarity['rating']),6)
    predicted_rating = round(np.average(picked_userid_watched_similarity['rating'], 
                                        weights=picked_userid_watched_similarity['similarity_score']), 6)
    
    # Save the predicted rating in the dictionary
    rating_prediction[picked_movie] = predicted_rating
    # Return the top recommended movies
  return sorted(rating_prediction.items(), key=operator.itemgetter(1), reverse=True)[:number_of_recommendations]

In [ ]:
#recommendations for user 110

print("Recommended movies for user 110")
recommended_movies_user_110 = item_based_rec_assignment_3(picked_userid=110, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_110_df = pd.DataFrame(recommended_movies_user_110)
recommended_movies_user_110_df_list = recommended_movies_user_110_df[1].values.tolist()

Recommended movies for user 110

In [ ]:
print("Recommended movies for user 250")
recommended_movies_user_250 = item_based_rec_assignment_3(picked_userid=250, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_250_df = pd.DataFrame(recommended_movies_user_250)
recommended_movies_user_250_df_list = recommended_movies_user_250_df[1].values.tolist()

Recommended movies for user 250

In [ ]:
print("Recommended movies for user 401")
recommended_movies_user_401 = item_based_rec_assignment_3(picked_userid=401, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_401_df = pd.DataFrame(recommended_movies_user_401)
recommended_movies_user_401_df_list = recommended_movies_user_401_df[1].values.tolist()

Recommended movies for user 401

In [ ]:
output_list_group_3 = []
user_id_lists = [110,250,401]
for user in user_id_lists:
    recommended_movie = item_based_rec_assignment_3(picked_userid=user, number_of_similar_items=5, number_of_recommendations =20)
    output_list_group_3.append(recommended_movie)

In [ ]:
#converting into dataframe
group_movies_df =  pd.DataFrame([t for lst in output_list_group_3 for t in lst])
group_movies_df = group_movies_df.rename(columns={0: 'movie', 1: 'score'})

In [ ]:
#using the average aggregation
df_mean = group_movies_df.groupby(['movie']).mean()
recommendations_for_3 = df_mean.sort_values(by=['score'], ascending=False)

In [ ]:
recommendations_for_3_list = recommendations_for_3['score'].values.tolist()
recommendations_for_3_list_top20 = recommendations_for_3_list[:20]

In [ ]:
#get satisfaction score of first iteration
satA1, satB1, satC1, alpha1, group_sat1= alpha_score(recommended_movies_user_110_df_list, recommended_movies_user_250_df_list, recommended_movies_user_401_df_list, recommendations_for_3_list_top20)

In [ ]:
satA1, satB1, satC1, alpha1, group_sat1

(3.0918695664131377,
 1.0273396900142306,
 2.6968652229793735,
 0.0640479459038612,
 2.272024826468914)

# Iteration 2

In [ ]:
mini_chunks = np.array_split(chunks[1], 4)

In [ ]:

print(sorted(chunks[0]["userId"].unique()))
print(sorted(mini_chunks[0]["userId"].unique()))
print(sorted(mini_chunks[1]["userId"].unique()))
print(sorted(mini_chunks[2]["userId"].unique()))
print(sorted(mini_chunks[3]["userId"].unique()))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 127, 128, 129, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 143, 144, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 174, 175, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 190, 191, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 395, 396, 397, 398, 399, 400, 401, 402, 403, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 475, 476, 477, 479, 480, 481, 482, 483, 484, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 499, 500, 501, 502, 503, 504, 505, 506, 508, 509, 510, 511, 512, 513, 514, 515, 517, 518, 519, 520, 522, 523, 524, 525, 526, 527, 528, 529, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 570, 571, 572, 573, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 121, 122, 123, 124, 125, 127, 128, 129, 131, 132, 133, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 146, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169, 170, 171, 172, 175, 176, 177, 178, 179, 180, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 241, 244, 245, 246, 247, 248, 249, 250, 252, 253, 254, 255, 256, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 341, 342, 343, 344, 345, 346, 348, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 395, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 440, 441, 442, 443, 445, 446, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 459, 460, 462, 463, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 498, 499, 500, 501, 502, 503, 504, 505, 506, 508, 509, 510, 511, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 545, 546, 548, 550, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 563, 564, 566, 567, 568, 570, 571, 572, 573, 575, 576, 577, 578, 579, 580, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[41, 42, 43, 44, 45, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 108, 109, 110, 111, 113, 114, 115, 116, 117, 118, 119, 122, 123, 124, 125, 127, 128, 129, 131, 132, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 146, 148, 149, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 171, 172, 175, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 190, 191, 193, 195, 197, 198, 199, 200, 201, 202, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 217, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 232, 233, 234, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 336, 337, 338, 339, 341, 342, 343, 344, 345, 346, 348, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 365, 367, 368, 369, 371, 372, 373, 374, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388, 390, 391, 392, 393, 395, 396, 397, 398, 400, 401, 403, 405, 406, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 433, 434, 436, 437, 438, 439, 440, 441, 442, 443, 445, 447, 448, 450, 452, 453, 454, 456, 457, 458, 459, 460, 462, 463, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 475, 477, 479, 480, 481, 482, 483, 484, 486, 487, 488, 489, 490, 491, 492, 493, 495, 496, 497, 499, 500, 501, 502, 503, 504, 505, 506, 508, 509, 510, 511, 514, 515, 516, 517, 518, 520, 521, 522, 523, 524, 525, 526, 527, 528, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 563, 564, 566, 567, 568, 570, 571, 572, 573, 575, 576, 577, 578, 579, 580, 582, 583, 584, 585, 586, 587, 588, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[105, 106, 108, 109, 110, 111, 113, 114, 115, 116, 117, 119, 122, 123, 125, 128, 129, 131, 132, 135, 136, 137, 138, 139, 140, 142, 143, 144, 146, 148, 149, 151, 153, 154, 155, 156, 157, 158, 160, 161, 163, 164, 165, 166, 167, 168, 169, 171, 175, 177, 178, 179, 181, 182, 183, 184, 185, 186, 187, 188, 191, 193, 195, 197, 198, 199, 200, 202, 204, 205, 209, 210, 212, 213, 214, 215, 216, 217, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 232, 233, 234, 236, 237, 238, 240, 241, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 274, 275, 277, 279, 280, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 301, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 317, 318, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 336, 337, 338, 339, 341, 342, 343, 344, 345, 346, 348, 351, 352, 353, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 367, 368, 369, 371, 372, 373, 376, 377, 380, 381, 382, 383, 384, 385, 387, 388, 389, 390, 391, 393, 397, 398, 401, 402, 403, 405, 406, 408, 409, 410, 411, 412, 414, 415, 416, 418, 419, 420, 421, 422, 424, 425, 426, 427, 428, 429, 430, 432, 434, 436, 437, 438, 440, 441, 443, 444, 448, 450, 452, 453, 454, 456, 460, 462, 464, 465, 467, 469, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 499, 500, 501, 502, 503, 504, 505, 506, 509, 510, 511, 513, 514, 515, 516, 517, 520, 521, 522, 523, 524, 525, 526, 527, 528, 531, 532, 533, 534, 535, 536, 537, 538, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 563, 564, 567, 568, 571, 572, 573, 575, 577, 578, 579, 580, 583, 585, 586, 587, 588, 589, 590, 591, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]

In [ ]:
df_big_chunk_and_chunk_2_1 = pd.concat([chunks[0],mini_chunks[0]], ignore_index=True)

In [ ]:
matrix_item_assignment_3_iter2 = df_big_chunk_and_chunk_2_1.pivot_table(index='title', columns='userId', values='rating')
matrix_item_norm_assignment_3_iter2 = matrix_item_assignment_3_iter2.subtract(matrix_item_assignment_3_iter2.mean(axis=1), axis = 0)
df_item_similarity_cosine_asign_3_iter2 = pd.DataFrame(cosine_similarity(matrix_item_norm_assignment_3_iter2.fillna(0.0000001)))
item_similarity_pearson_assignment_3_iter2 = matrix_item_norm_assignment_3_iter2.T.corr()
df_item_similarity_cosine_asign_3_iter2.columns = item_similarity_pearson_assignment_3_iter2.columns
df_item_similarity_cosine_asign_3_iter2.index = item_similarity_pearson_assignment_3_iter2.index

In [ ]:
# Item-based recommendation function
def item_based_rec_assignment_3_iter2(picked_userid, number_of_similar_items, number_of_recommendations):
  import operator
  # Movies that the target user has not watched
  picked_userid_unwatched = pd.DataFrame(matrix_item_norm_assignment_3_iter2[picked_userid].isna()).reset_index()
  picked_userid_unwatched = picked_userid_unwatched[picked_userid_unwatched[picked_userid]==True]['title'].values.tolist()

  # Movies that the target user has watched
  picked_userid_watched = pd.DataFrame(matrix_item_norm_assignment_3_iter2[picked_userid].dropna(axis=0, how='all')\
                            .sort_values(ascending=False))\
                            .reset_index()\
                            .rename(columns={picked_userid:'rating'})
  
  # Dictionary to save the unwatched movie and predicted rating pair
  rating_prediction ={}  

  # Loop through unwatched movies          
  for picked_movie in picked_userid_unwatched: 
    # Calculate the similarity score of the picked movie iwth other movies
    # picked_movie_similarity_score = item_similarity_pearson[[picked_movie]].reset_index().rename(columns={picked_movie:'similarity_score'})
    picked_movie_similarity_score = df_item_similarity_cosine_asign_3_iter2[[picked_movie]].reset_index().rename(columns={picked_movie:'similarity_score'})

    # Rank the similarities between the picked user watched movie and the picked unwatched movie.
    picked_userid_watched_similarity = pd.merge(left=picked_userid_watched, 
                                                right=picked_movie_similarity_score, 
                                                on='title', 
                                                how='inner')\
                                        .sort_values('similarity_score', ascending=False)[:number_of_similar_items]

    # Calculate the predicted rating using weighted average of similarity scores and the ratings from user 1
    # predicted_rating = round(np.average(picked_userid_watched_similarity['rating']),6)
    predicted_rating = round(np.average(picked_userid_watched_similarity['rating'], 
                                        weights=picked_userid_watched_similarity['similarity_score']), 6)
    
    # Save the predicted rating in the dictionary
    rating_prediction[picked_movie] = predicted_rating
    # Return the top recommended movies
  return sorted(rating_prediction.items(), key=operator.itemgetter(1), reverse=True)[:number_of_recommendations]

In [ ]:
#recommendations for user 110

print("Recommended movies for user 110")
recommended_movies_user_110 = item_based_rec_assignment_3(picked_userid=110, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_110_df = pd.DataFrame(recommended_movies_user_110)
recommended_movies_user_110_df_list = recommended_movies_user_110_df[1].values.tolist()

Recommended movies for user 110

In [ ]:
print("Recommended movies for user 250")
recommended_movies_user_250 = item_based_rec_assignment_3(picked_userid=250, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_250_df = pd.DataFrame(recommended_movies_user_250)
recommended_movies_user_250_df_list = recommended_movies_user_250_df[1].values.tolist()

Recommended movies for user 250

In [ ]:
print("Recommended movies for user 401")
recommended_movies_user_401 = item_based_rec_assignment_3(picked_userid=401, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_401_df = pd.DataFrame(recommended_movies_user_401)
recommended_movies_user_401_df_list = recommended_movies_user_401_df[1].values.tolist()

Recommended movies for user 401

In [ ]:
output_list_group_3_iter2 = []
user_id_lists = [110,250,401]
for user in user_id_lists:
    recommended_movie = item_based_rec_assignment_3_iter2(picked_userid=user, number_of_similar_items=5, number_of_recommendations =20)
    output_list_group_3_iter2.append(recommended_movie)

In [ ]:
#converting into dataframe
group_movies_df_iter2 =  pd.DataFrame([t for lst in output_list_group_3 for t in lst])
group_movies_df_iter2 = group_movies_df.rename(columns={0: 'movie', 1: 'score'})

In [ ]:
group_movies_df_iter2

                                          movie     score
0                  Bridget Jones's Diary (2001)  0.533963
1               Priceless (Hors de prix) (2006)  0.522125
2                             Speechless (1994)  0.507170
3                               Mallrats (1995)  0.486892
4                              Roommates (1995)  0.457311
5      Princess Mononoke (Mononoke-hime) (1997)  0.447869
6                           General, The (1926)  0.434774
7                 Breakfast at Tiffany's (1961)  0.422058
8                      Lord of Illusions (1995)  0.410941
9                        Valentine's Day (2010)  0.401128
10                           Richard III (1995)  0.395290
11                       Charlotte's Web (1973)  0.384728
12                  (500) Days of Summer (2009)  0.369829
13                              20 Dates (1998)  0.361809
14                           With Honors (1994)  0.355781
15                    When We Were Kings (1996)  0.345397
16                         Fly Away Home (1996)  0.338312
17                Together (Tillsammans) (2000)  0.336279
18                     Road to Perdition (2002)  0.335548
19               Crimes and Misdemeanors (1989)  0.333971
20                                  Safe (1995)  1.436479
21                               Mr. Mom (1983)  1.292588
22                          Program, The (1993)  1.285166
23                                L.I.E. (2001)  1.278402
24                           Sling Blade (1996)  1.265142
25                   Tales from the Hood (1995)  1.264544
26                           Match Point (2005)  1.242517
27                            Dead Again (1991)  1.233744
28                 2001: A Space Odyssey (1968)  1.232912
29                      Muriel's Wedding (1994)  1.231663
30                             Tank Girl (1995)  1.208204
31  Eat Drink Man Woman (Yin shi nan nu) (1994)  1.203306
32                                 Shaft (2000)  1.198530
33                            Inside Job (2010)  1.195232
34  Hobbit: The Desolation of Smaug, The (2013)  1.190717
35                      Somebody to Love (1994)  1.188026
36                   King of Comedy, The (1983)  1.179470
37              Escape to Witch Mountain (1975)  1.170227
38                         Terminal, The (2004)  1.162897
39                          Moulin Rouge (2001)  1.162203
40               Simple Twist of Fate, A (1994)  1.499419
41                      Before and After (1996)  1.498838
42                             Showgirls (1995)  0.718141
43                              Saturn 3 (1980)  0.569695
44                       Michael Collins (1996)  0.362096
45                   Cops and Robbersons (1994)  0.347776
46                             High Noon (1952)  0.347495
47                               Mad Max (1979)  0.312743
48                             Cure, The (1995)  0.310271
49                      Dangerous Ground (1997)  0.310271
50                                 Gordy (1995)  0.310271
51                   I Like It Like That (1994)  0.310271
52                    Jefferson in Paris (1995)  0.310271
53                             My Family (1995)  0.310271
54                      Nothing Personal (1995)  0.310271
55                        Poetic Justice (1993)  0.310271
56                              Reckless (1995)  0.310271
57                            Rent-a-Kid (1995)  0.310271
58                   Spirits of the Dead (1968)  0.310271
59                          Three Wishes (1995)  0.310271

Because alpha is really low from iteration 1 (0.06) for this iteration we will keep using the average mean method

In [ ]:
#using the average aggregation
df_mean = group_movies_df_iter2.groupby(['movie']).mean()
recommendations_for_3 = df_mean.sort_values(by=['score'], ascending=False)
recommendations_for_3["score"] = recommendations_for_3["score"] * (1 - 0.0640479459038612)

In [ ]:
recommendations_for_3

                                                score
movie
Simple Twist of Fate, A (1994)               1.403384
Before and After (1996)                      1.402841
Safe (1995)                                  1.344475
Mr. Mom (1983)                               1.209800
Program, The (1993)                          1.202854
L.I.E. (2001)                                1.196523
Sling Blade (1996)                           1.184112
Tales from the Hood (1995)                   1.183553
Match Point (2005)                           1.162936
Dead Again (1991)                            1.154725
2001: A Space Odyssey (1968)                 1.153947
Muriel's Wedding (1994)                      1.152778
Tank Girl (1995)                             1.130821
Eat Drink Man Woman (Yin shi nan nu) (1994)  1.126237
Shaft (2000)                                 1.121767
Inside Job (2010)                            1.118680
Hobbit: The Desolation of Smaug, The (2013)  1.114454
Somebody to Love (1994)                      1.111935
King of Comedy, The (1983)                   1.103927
Escape to Witch Mountain (1975)              1.095276
Terminal, The (2004)                         1.088416
Moulin Rouge (2001)                          1.087766
Showgirls (1995)                             0.672146
Saturn 3 (1980)                              0.533207
Bridget Jones's Diary (2001)                 0.499764
Priceless (Hors de prix) (2006)              0.488684
Speechless (1994)                            0.474687
Mallrats (1995)                              0.455708
Roommates (1995)                             0.428021
Princess Mononoke (Mononoke-hime) (1997)     0.419184
General, The (1926)                          0.406928
Breakfast at Tiffany's (1961)                0.395026
Lord of Illusions (1995)                     0.384621
Valentine's Day (2010)                       0.375437
Richard III (1995)                           0.369972
Charlotte's Web (1973)                       0.360087
(500) Days of Summer (2009)                  0.346142
Michael Collins (1996)                       0.338904
20 Dates (1998)                              0.338636
With Honors (1994)                           0.332994
Cops and Robbersons (1994)                   0.325502
High Noon (1952)                             0.325239
When We Were Kings (1996)                    0.323275
Fly Away Home (1996)                         0.316644
Together (Tillsammans) (2000)                0.314741
Road to Perdition (2002)                     0.314057
Crimes and Misdemeanors (1989)               0.312581
Mad Max (1979)                               0.292712
My Family (1995)                             0.290399
Cure, The (1995)                             0.290399
Rent-a-Kid (1995)                            0.290399
Three Wishes (1995)                          0.290399
Spirits of the Dead (1968)                   0.290399
Dangerous Ground (1997)                      0.290399
Gordy (1995)                                 0.290399
Reckless (1995)                              0.290399
I Like It Like That (1994)                   0.290399
Jefferson in Paris (1995)                    0.290399
Nothing Personal (1995)                      0.290399
Poetic Justice (1993)                        0.290399

In [ ]:
recommendations_for_3_list = recommendations_for_3['score'].values.tolist()
recommendations_for_3_list_top20 = recommendations_for_3_list[:20]

In [ ]:
#get satisfaction score of first iteration
satA1, satB1, satC1, alpha1, group_sat1= alpha_score(recommended_movies_user_110_df_list, recommended_movies_user_250_df_list, recommended_movies_user_401_df_list, recommendations_for_3_list_top20)

In [ ]:
satA1, satB1, satC1, alpha1, group_sat1

(2.8938416716817144,
 0.9615406931233097,
 2.5241365450679862,
 0.0640479459038612,
 2.1265063032910034)

As you can see, in iteration 2, the reason our alpha and satisfaction are the ssame becaue even if we add new chunk of data our functions still return the same list of recommended movies :(

# Iteration 3

In [ ]:
print(sorted(chunks[0]["userId"].unique()))
print(sorted(mini_chunks[0]["userId"].unique()))
print(sorted(mini_chunks[1]["userId"].unique()))
print(sorted(mini_chunks[2]["userId"].unique()))
print(sorted(mini_chunks[3]["userId"].unique()))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 127, 128, 129, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 143, 144, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 174, 175, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 190, 191, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 395, 396, 397, 398, 399, 400, 401, 402, 403, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 475, 476, 477, 479, 480, 481, 482, 483, 484, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 499, 500, 501, 502, 503, 504, 505, 506, 508, 509, 510, 511, 512, 513, 514, 515, 517, 518, 519, 520, 522, 523, 524, 525, 526, 527, 528, 529, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 570, 571, 572, 573, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 121, 122, 123, 124, 125, 127, 128, 129, 131, 132, 133, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 146, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169, 170, 171, 172, 175, 176, 177, 178, 179, 180, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 241, 244, 245, 246, 247, 248, 249, 250, 252, 253, 254, 255, 256, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 341, 342, 343, 344, 345, 346, 348, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 395, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 440, 441, 442, 443, 445, 446, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 459, 460, 462, 463, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 498, 499, 500, 501, 502, 503, 504, 505, 506, 508, 509, 510, 511, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 545, 546, 548, 550, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 563, 564, 566, 567, 568, 570, 571, 572, 573, 575, 576, 577, 578, 579, 580, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[41, 42, 43, 44, 45, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 108, 109, 110, 111, 113, 114, 115, 116, 117, 118, 119, 122, 123, 124, 125, 127, 128, 129, 131, 132, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 146, 148, 149, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 171, 172, 175, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 190, 191, 193, 195, 197, 198, 199, 200, 201, 202, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 215, 216, 217, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 232, 233, 234, 236, 237, 238, 239, 240, 241, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 336, 337, 338, 339, 341, 342, 343, 344, 345, 346, 348, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 365, 367, 368, 369, 371, 372, 373, 374, 375, 376, 377, 378, 380, 381, 382, 383, 384, 385, 386, 387, 388, 390, 391, 392, 393, 395, 396, 397, 398, 400, 401, 403, 405, 406, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 433, 434, 436, 437, 438, 439, 440, 441, 442, 443, 445, 447, 448, 450, 452, 453, 454, 456, 457, 458, 459, 460, 462, 463, 464, 465, 466, 467, 469, 470, 471, 472, 473, 474, 475, 477, 479, 480, 481, 482, 483, 484, 486, 487, 488, 489, 490, 491, 492, 493, 495, 496, 497, 499, 500, 501, 502, 503, 504, 505, 506, 508, 509, 510, 511, 514, 515, 516, 517, 518, 520, 521, 522, 523, 524, 525, 526, 527, 528, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 563, 564, 566, 567, 568, 570, 571, 572, 573, 575, 576, 577, 578, 579, 580, 582, 583, 584, 585, 586, 587, 588, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
[105, 106, 108, 109, 110, 111, 113, 114, 115, 116, 117, 119, 122, 123, 125, 128, 129, 131, 132, 135, 136, 137, 138, 139, 140, 142, 143, 144, 146, 148, 149, 151, 153, 154, 155, 156, 157, 158, 160, 161, 163, 164, 165, 166, 167, 168, 169, 171, 175, 177, 178, 179, 181, 182, 183, 184, 185, 186, 187, 188, 191, 193, 195, 197, 198, 199, 200, 202, 204, 205, 209, 210, 212, 213, 214, 215, 216, 217, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 232, 233, 234, 236, 237, 238, 240, 241, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 274, 275, 277, 279, 280, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 301, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 317, 318, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 336, 337, 338, 339, 341, 342, 343, 344, 345, 346, 348, 351, 352, 353, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 367, 368, 369, 371, 372, 373, 376, 377, 380, 381, 382, 383, 384, 385, 387, 388, 389, 390, 391, 393, 397, 398, 401, 402, 403, 405, 406, 408, 409, 410, 411, 412, 414, 415, 416, 418, 419, 420, 421, 422, 424, 425, 426, 427, 428, 429, 430, 432, 434, 436, 437, 438, 440, 441, 443, 444, 448, 450, 452, 453, 454, 456, 460, 462, 464, 465, 467, 469, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 499, 500, 501, 502, 503, 504, 505, 506, 509, 510, 511, 513, 514, 515, 516, 517, 520, 521, 522, 523, 524, 525, 526, 527, 528, 531, 532, 533, 534, 535, 536, 537, 538, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 558, 559, 560, 561, 562, 563, 564, 567, 568, 571, 572, 573, 575, 577, 578, 579, 580, 583, 585, 586, 587, 588, 589, 590, 591, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]

In [ ]:
df_big_chunk_and_chunk_2_1 = pd.concat([chunks[0],mini_chunks[0],mini_chunks[1]], ignore_index=True)

In [ ]:
matrix_item_assignment_3_iter3 = df_big_chunk_and_chunk_2_1.pivot_table(index='title', columns='userId', values='rating')
matrix_item_norm_assignment_3_iter3 = matrix_item_assignment_3_iter3.subtract(matrix_item_assignment_3_iter3.mean(axis=1), axis = 0)
df_item_similarity_cosine_asign_3_iter3 = pd.DataFrame(cosine_similarity(matrix_item_norm_assignment_3_iter3.fillna(0.0000001)))
item_similarity_pearson_assignment_3_iter3 = matrix_item_norm_assignment_3_iter3.T.corr()
df_item_similarity_cosine_asign_3_iter3.columns = item_similarity_pearson_assignment_3_iter3.columns
df_item_similarity_cosine_asign_3_iter3.index = item_similarity_pearson_assignment_3_iter3.index

In [ ]:
# Item-based recommendation function
def item_based_rec_assignment_3_iter3(picked_userid, number_of_similar_items, number_of_recommendations):
  import operator
  # Movies that the target user has not watched
  picked_userid_unwatched = pd.DataFrame(matrix_item_norm_assignment_3_iter3[picked_userid].isna()).reset_index()
  picked_userid_unwatched = picked_userid_unwatched[picked_userid_unwatched[picked_userid]==True]['title'].values.tolist()

  # Movies that the target user has watched
  picked_userid_watched = pd.DataFrame(matrix_item_norm_assignment_3_iter3[picked_userid].dropna(axis=0, how='all')\
                            .sort_values(ascending=False))\
                            .reset_index()\
                            .rename(columns={picked_userid:'rating'})
  
  # Dictionary to save the unwatched movie and predicted rating pair
  rating_prediction ={}  

  # Loop through unwatched movies          
  for picked_movie in picked_userid_unwatched: 
    # Calculate the similarity score of the picked movie iwth other movies
    # picked_movie_similarity_score = item_similarity_pearson[[picked_movie]].reset_index().rename(columns={picked_movie:'similarity_score'})
    picked_movie_similarity_score = df_item_similarity_cosine_asign_3_iter3[[picked_movie]].reset_index().rename(columns={picked_movie:'similarity_score'})

    # Rank the similarities between the picked user watched movie and the picked unwatched movie.
    picked_userid_watched_similarity = pd.merge(left=picked_userid_watched, 
                                                right=picked_movie_similarity_score, 
                                                on='title', 
                                                how='inner')\
                                        .sort_values('similarity_score', ascending=False)[:number_of_similar_items]

    # Calculate the predicted rating using weighted average of similarity scores and the ratings from user 1
    # predicted_rating = round(np.average(picked_userid_watched_similarity['rating']),6)
    predicted_rating = round(np.average(picked_userid_watched_similarity['rating'], 
                                        weights=picked_userid_watched_similarity['similarity_score']), 6)
    
    # Save the predicted rating in the dictionary
    rating_prediction[picked_movie] = predicted_rating
    # Return the top recommended movies
  return sorted(rating_prediction.items(), key=operator.itemgetter(1), reverse=True)[:number_of_recommendations]

In [ ]:
#recommendations for user 110

print("Recommended movies for user 110")
recommended_movies_user_110 = item_based_rec_assignment_3(picked_userid=110, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_110_df = pd.DataFrame(recommended_movies_user_110)
recommended_movies_user_110_df_list = recommended_movies_user_110_df[1].values.tolist()

Recommended movies for user 110

In [ ]:
print("Recommended movies for user 250")
recommended_movies_user_250 = item_based_rec_assignment_3(picked_userid=250, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_250_df = pd.DataFrame(recommended_movies_user_250)
recommended_movies_user_250_df_list = recommended_movies_user_250_df[1].values.tolist()

Recommended movies for user 250

In [ ]:
print("Recommended movies for user 401")
recommended_movies_user_401 = item_based_rec_assignment_3(picked_userid=401, number_of_similar_items=5, number_of_recommendations =20)
recommended_movies_user_401_df = pd.DataFrame(recommended_movies_user_401)
recommended_movies_user_401_df_list = recommended_movies_user_401_df[1].values.tolist()

Recommended movies for user 401

In [ ]:
output_list_group_3_iter3 = []
user_id_lists = [110,250,401]
for user in user_id_lists:
    recommended_movie = item_based_rec_assignment_3_iter3(picked_userid=user, number_of_similar_items=5, number_of_recommendations =20)
    output_list_group_3_iter3.append(recommended_movie)

In [ ]:
#converting into dataframe
group_movies_df_iter3 =  pd.DataFrame([t for lst in output_list_group_3 for t in lst])
group_movies_df_iter3 = group_movies_df.rename(columns={0: 'movie', 1: 'score'})

In [ ]:
group_movies_df_iter3

                                          movie     score
0                  Bridget Jones's Diary (2001)  0.533963
1               Priceless (Hors de prix) (2006)  0.522125
2                             Speechless (1994)  0.507170
3                               Mallrats (1995)  0.486892
4                              Roommates (1995)  0.457311
5      Princess Mononoke (Mononoke-hime) (1997)  0.447869
6                           General, The (1926)  0.434774
7                 Breakfast at Tiffany's (1961)  0.422058
8                      Lord of Illusions (1995)  0.410941
9                        Valentine's Day (2010)  0.401128
10                           Richard III (1995)  0.395290
11                       Charlotte's Web (1973)  0.384728
12                  (500) Days of Summer (2009)  0.369829
13                              20 Dates (1998)  0.361809
14                           With Honors (1994)  0.355781
15                    When We Were Kings (1996)  0.345397
16                         Fly Away Home (1996)  0.338312
17                Together (Tillsammans) (2000)  0.336279
18                     Road to Perdition (2002)  0.335548
19               Crimes and Misdemeanors (1989)  0.333971
20                                  Safe (1995)  1.436479
21                               Mr. Mom (1983)  1.292588
22                          Program, The (1993)  1.285166
23                                L.I.E. (2001)  1.278402
24                           Sling Blade (1996)  1.265142
25                   Tales from the Hood (1995)  1.264544
26                           Match Point (2005)  1.242517
27                            Dead Again (1991)  1.233744
28                 2001: A Space Odyssey (1968)  1.232912
29                      Muriel's Wedding (1994)  1.231663
30                             Tank Girl (1995)  1.208204
31  Eat Drink Man Woman (Yin shi nan nu) (1994)  1.203306
32                                 Shaft (2000)  1.198530
33                            Inside Job (2010)  1.195232
34  Hobbit: The Desolation of Smaug, The (2013)  1.190717
35                      Somebody to Love (1994)  1.188026
36                   King of Comedy, The (1983)  1.179470
37              Escape to Witch Mountain (1975)  1.170227
38                         Terminal, The (2004)  1.162897
39                          Moulin Rouge (2001)  1.162203
40               Simple Twist of Fate, A (1994)  1.499419
41                      Before and After (1996)  1.498838
42                             Showgirls (1995)  0.718141
43                              Saturn 3 (1980)  0.569695
44                       Michael Collins (1996)  0.362096
45                   Cops and Robbersons (1994)  0.347776
46                             High Noon (1952)  0.347495
47                               Mad Max (1979)  0.312743
48                             Cure, The (1995)  0.310271
49                      Dangerous Ground (1997)  0.310271
50                                 Gordy (1995)  0.310271
51                   I Like It Like That (1994)  0.310271
52                    Jefferson in Paris (1995)  0.310271
53                             My Family (1995)  0.310271
54                      Nothing Personal (1995)  0.310271
55                        Poetic Justice (1993)  0.310271
56                              Reckless (1995)  0.310271
57                            Rent-a-Kid (1995)  0.310271
58                   Spirits of the Dead (1968)  0.310271
59                          Three Wishes (1995)  0.310271

because our alpha is low so we stick with average method for this iteration 3

In [ ]:
#using the average aggregation
df_mean = group_movies_df_iter3.groupby(['movie']).mean()
recommendations_for_3 = df_mean.sort_values(by=['score'], ascending=False)
recommendations_for_3["score"] = recommendations_for_3["score"] * (1 - 0.0640479459038612)

In [ ]:
recommendations_for_3_list = recommendations_for_3['score'].values.tolist()
recommendations_for_3_list_top20 = recommendations_for_3_list[:20]

In [ ]:
#get satisfaction score of first iteration
satA1, satB1, satC1, alpha1, group_sat1= alpha_score(recommended_movies_user_110_df_list, recommended_movies_user_250_df_list, recommended_movies_user_401_df_list, recommendations_for_3_list_top20)

In [ ]:
satA1, satB1, satC1, alpha1, group_sat1

(2.8938416716817144,
 0.9615406931233097,
 2.5241365450679862,
 0.0640479459038612,
 2.1265063032910034)

# Iteration 4 + 5 = Similar to Iteration 1 + 2 + 3